* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Pattaya', sans-serif;
}

header {
   font-size: 2em;
   background-color: #cf576b;
   text-align: center;
   color: #fff;
   text-transform: capitalize;
   letter-spacing: 3px;
   padding: 10px;
}

.imagen {
 margin: 0 auto;
 width: 100%;
}

img {
    width: 40%;
    margin: 0 auto;
}